@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

.text-gradient-purple {
  @apply text-transparent bg-clip-text bg-gradient-to-br from-purple-300 to-purple-700;
}

.animated-b-border {
  @apply after:content-[''] after:block after:m-auto after:h-[3px] after:w-0 after:bg-transparent after:transition-all after:duration-300 after:ease-in-out hover:after:bg-purple-500 hover:after:w-full;
}

.line-after-text {
  @apply after:content-[''] after:relative after:w-[200px] sm:after:w-[300px] after:left-[20px] after:h-[1px] after:bg-gray-300 dark:after:bg-darkGray-500;
}

.tap-highlight-color-disable {
  -webkit-tap-highlight-color: transparent;
}

.input-style {
  @apply rounded block w-full p-3 border border-gray-300 dark:border-darkGray-400 dark:bg-darkGray-600 text-sm shadow-sm dark:text-white
  focus:outline-none focus:ring-1 focus:ring-purple-500 disabled:shadow-none
  /* invalid:text-pink-600
  focus:invalid:border-pink-500 focus:invalid:ring-pink-500; */;
}

.glow {
  box-shadow: 1.25px 0px 10px rgba(0, 255, 255, 0.25), -1.25px 0px 10px rgba(255, 0, 255, 0.25),
    0px 0px 6px rgba(255, 255, 255, 0.25), inset 5px 0px 25px rgba(255, 0, 255, 0.25),
    inset -2.5px 0px 10px rgba(0, 255, 255, 0.25), inset 2.5px 0px 10px rgba(255, 0, 255, 0.25),
    inset 0px 0px 2.5px #ffffff;
}

.glowing-circle {
  @apply glow rounded-full w-4 h-4 inline-block;
}

.spacer {
  aspect-ratio: 960 / 300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-background {
  background-image: url('../src/assets/layered-waves-haikei-top.svg');
}

.home-background-2 {
  background-image: url('../src/assets/wave-haikei\ \(5\).svg');
}

.curve {
  position: absolute;
  height: 250px;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.curve::before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  transform: translate(85%, 60%);
  background-color: #2b6cdd;
}

.curve::after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: #12181b;
  transform: translate(-4%, 40%);
  z-index: 1;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
